h1 {
  background-color: black;
  color: aliceblue;
}

.item {
  padding: 10px;
  cursor: pointer;
}
.active {
  color: aliceblue;
}

.right {
  background-color: lawngreen;
}

.fault {
  background-color: rgb(71, 6, 6);
}

.results_test {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

  .result_test {
    height: 20px;
    background-color: darkgrey;
  }
  .active {
    background-color: aquamarine;
  }
}
