h1 {
  background-color: black;
  color: aliceblue;
}

.item {
  padding: 10px;
  cursor: pointer;
}
.active {
  color: aliceblue;
}

.right {
  background-color: lawngreen;
}

.fault {
  background-color: rgb(71, 6, 6);
}

.results_test {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

  .result_test {
    height: 20px;
  }
  .right {
    background-color: aquamarine;
    height: 20px;
    flex-grow: 1;
  }

  .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .plus__active {
    background-color: aquamarine;
    height: 20px;
    animation-name: plus_active;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    flex-grow: 1;
  }
  .plus__normal {
    background-color: darkgrey;
    height: 20px;
    animation-name: plus_normal;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    flex-grow: 0;
  }

  .fault {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .fault__active {
    background-color: aquamarine;
    height: 20px;
    animation-name: fault_active;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    flex-grow: 0;
  }
  .fault__normal {
    background-color: darkgrey;
    height: 20px;
    animation-name: fault_normal;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    flex-grow: 1;
  }

  .normal {
    background-color: darkgrey;
    height: 20px;
    flex-grow: 1;
  }
  .warning {
    background-color: red;
    height: 20px;
    flex-grow: 1;
  }
}
@keyframes plus_active {
  0% {
    flex-grow: 0;
  }

  100% {
    flex-grow: 1;
  }
}
@keyframes plus_normal {
  0% {
    flex-grow: 1;
  }

  100% {
    flex-grow: 0;
  }
}

@keyframes fault_active {
  0% {
    flex-grow: 1;
  }

  100% {
    flex-grow: 0;
  }
}
@keyframes fault_normal {
  0% {
    flex-grow: 0;
  }

  100% {
    flex-grow: 1;
  }
}
